

body{
  background-color: lightblue;
  margin: 0;
}
/*CSS for using custom fonts*/
@font-face {
font-family: "lml";
src: url("LemonMilklight.otf");
}

@font-face {
font-family: "code";
src: url("code.otf");
}
/*navbar css*/
.navbar{
  padding: 0;
}
/*CSS for navbar item container*/
.navbar-nav {
  margin:0 auto;
  text-align: center;
}
/*CSS for navbar items*/
.navbar-nav > li {
  font-size: 22px;
}
/*CSS for hover effect on the navbar items*/
.hvr-fade{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.logo{
  position: absolute;
  max-height: 70px;
}
/*CSS for jumbotron containing header*/
.jumbotron{
  background-color: rgba(215, 212, 219,0.7);
}
/*CSS for header containing title of the page*/
header{
  text-align: center;
}
/*Css for page title*/
header > h1{
  font-size: 400%;
  font-family: 'lml';
  color: #fff;
  text-shadow: 2px 2px rgba(0,0,0,0.5);
}
/*CSS for paragraph on about page */
p{
  font-size: 105%;
  font-family: 'lml';
  color: #5E5E5E;
}
/*CSS for list on about page */
ul{
  list-style-type: circle;
  font-size: 105%;
  font-family: 'lml';
  color: #5E5E5E;
}
/* CSS for main container */
main{
  position: absolute;
  left: 5%;
  width: 90%;
  height: 90%;
}
/* CSS for the menu buttons */
.button{
  display: flex;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 10px;
  padding-top: 20px;
  background-color: white;
  height: 15%;
  width: 60%;
  border-style: solid;
  border-color: #c7d0dd;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}
/*Button text */
.button > p{
  font-family: 'code';
  font-weight: bold;
  font-size: 200%;
  color: black;
}
/*no underline when the user hovers over the link*/
a:hover{
    text-decoration: none;
}
/*button background colour is changed when the user hovers over it */
.button:hover{
  background-color: #dee1e8;
}
/*button background colour changed and box shadow created when button is clicked*/
.button:active{
  background-color: #dee1e8;
  box-shadow: inset 2px 2px;
}
/* CSS for back button */
/*#backButton{
  position: absolute;
  top: 3px;
  left: 0;
  z-index: 50;
  width: 60px;
  height: 40px;
  float: left;
}*/

/* CSS for bill split page */
/* CSS not finished */

#addContainer{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
}

/*container for layout of content on the 'splitbill' page*/
#billContainer{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

/*contains inputs on the splitbill page*/
#amountContainer > h3{
    text-align: center;
    font-family: 'code';
    margin-bottom: 20px;
    margin-top: 20px;
}
/*container for the submit button on the splitbill page*/
#btnContainer{
  display: flex;
  justify-content: center;
}

/*button for confirming details of the split*/
#confirmAmountBtn{
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
  width: 80%;
  padding: 10px;
}
/* hovering over the split button changes its colour*/
#confirmAmountBtn:hover{
  background-color: #60bcea;
  border-color: white;
  color: white;
}
/* CSS for group page */
#addContact{
  background-color: white;
  border-color: #c7d0dd;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 15px;
}
/*button for adding a new group*/
#addGroup{
  background-color: white;
  border-color: #c7d0dd;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 15px;
}

/*hovering over the add group and add contact buttons changes their background colour*/
#addGroup:hover,#addContact:hover{
  background-color: #dee1e8;
}
/*clicking on the add group button changes its background colour*/
#addGroup:active,#addContact:active{
  box-shadow: inset 2px 2px;
}
/*container for the adding contacts layouts*/
#contactsContainer{
  position: absolute;
  width: 80%;
  height: auto;
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  left: 10%;
  margin-left: auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
}
/*container for the adding contacts inputs*/
#contactsOverview{
  font-family: 'lml';
  width: 50%;
  height: 100%;
  float: left;
}

/*container for the adding groups inputs*/
#groupsOverview{
  font-family: 'lml';
  width: 50%;
  height: 100%;
  float: right;
}

/*styling subtitles on the group page*/
#contactsOverview > h3, #groupsOverview > h3{
  margin-bottom: 20px;
  text-decoration: underline;
}
/*links for the user's existing groups and contacts*/
.contact,.group{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 5px;
}

/*hovering over group and contact links changes background colour*/
.contact:hover,.group:hover{
  background-color: white;
}
/*contains form for adding a new contact*/
#addContactContainer{
  display: none; /* Hides content until button is pressed. */
}
#addContactContainer > h3 {
  text-align: center;

}

/*contains form for adding a new group*/
#addGroupContainer{
  display: none; /* Hides content until button is pressed. */
}
/*button displaying the contact's details*/
#displayContact{
  display: none;
  background-color: rgba(215, 212, 219);
}

/*input boxes for contact information*/
#contactNameInput,#contactPhoneInput,#contactDescriptionInput{
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
}

/*input boxes for group information*/
#groupNameInput,#groupMembersInput,#groupDescriptionInput{
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
}

/*box for entering new group members*/
textarea{
  width: 70%;
}
/*input box for enetering bill amount*/
#amountInput{
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/*button for confirming contact and group details*/
#submitGroupInformation,#submitContactInformation{
  padding: 10px;
  margin-top: 5%;
  width: 70%;
}

/*dropdown menu and radio buttons for selecting bill-split type and group choice*/
#splitSelection,#groupSelection{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/*labels for bill-split types*/
label{
  margin-left: 5px;
  font-family: 'lml';
}

/*media queries for different sized screens to make page content more responsive to screen size*/
@media all and (max-width: 1200px) {
  #billContainer{
    width: 50%;
  }
}
@media all and (max-width: 700px) {
  .button{
    height: 12%;
    border: 2px solid #c7d0dd;
    box-shadow: 3px 3px rgba(0,0,0,0.5);
  }
  .button > p{
    font-size: 85%;
  }
  #addGroup,#addContact{
    width: 40%;
    font-size: 90%;
  }
  .contact,.group{
    width: 80%;
    font-size: 70%;
  }
  input{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #billContainer{
    width: 80%;
  }

}
@media all and (max-width: 1000px) {
  /*move app logo to the top-right on small screens*/
  .logo{
    right: 0;
  }
}


@media all and (min-width: 2001px) {
  .navbar-nav > li{
    font-size: 22px;
  }
}

/* DEBT PAGE CSS */
#overallContainer{
  margin: auto;
  width: 90%;
  height: 70%;
  text-align: center;
}
.individualDebtElement{
  background-color: rgba(255,255,255,0.5);
  border-style: solid;
  border-color: black;
}
